<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/todomvc-common/base.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/todomvc-app-css/index.css') }}">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<form action="{{ url_for('add_task') }}" method="POST">
					<input class="new-todo" name="task" placeholder="What needs to be done?" autofocus required>
					<input type="submit" name="submit" class="submit_button" value="Submit">
				</form>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					{% for task in tasks: %}
						<li class="{{ task['status'] }}">
							<div class="view">
								<input class="toggle task_update" type="checkbox" value="{{ task['_id'] }}">
								<label>{{ task['task'] }}</label>
								<a class="destroy" href="{{ url_for('task_destroy', id=task['_id']) }}"></a>
							</div>
							<input class="edit" value="Create a TodoMVC template">
						</li>
					{% endfor %}
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<!-- <span class="todo-count"><strong>0</strong> item left</span> -->
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a href="{{ url_for('index') }}">All</a>
					</li>
					<li>
						<a href="{{ url_for('actives') }}">Active</a>
					</li>
					<li>
						<a href="{{ url_for('completes') }}">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<!-- <button class="clear-completed">Clear completed</button> -->
				<a class="clear-completed" href="{{ url_for('clear_completes') }}">Clear completed</a>	
			</footer>
		</section>
		
		<!-- Scripts here. Don't remove ↓ -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='node_modules/todomvc-common/base.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>
